.group-table {
    text-align: center;
    border-collapse: collapse;
}

.group-table__header {
    min-width: 100px;

}

.group-table__result--empty {
    color: grey;
}

.group-table__result--win {
    font-weight: bold;
}

.group-table__result--lose {
    color: rgb(211, 47, 47);
}

.group-table__row--result-promotion {
    border-left: 5px solid green;
}

.group-table__row--result-relegation {
    border-left: 5px solid red;
}

.group-table__row--highlighted {
    background-color: #e3e3e3;
}

.group-table__cell-name {
    text-align: left;
}

.group-table__cell-result {
    padding: 0 10px;
}

.wgo-ctrlgroup-left, .wgo-ctrlgroup-right {
    display: none;
}

.errorlist {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.form-control[readonly] {
    background-color: white;
}

.season-state--draft {
    background-color: #ffc107;
    color: black;
}

.season-state--in_progress {
    background-color: #198754;
}

.season-state--finished {
    background-color: #6c757d;
}

.clickable {
    cursor: pointer;
}

.sgf-container {
    margin: 20px;
}

.player--supporter {
    color: #f6b84b;
    font-weight: bold;
}

.language-dropdown {
    min-width: 0;
}

.rules__header {
    font-size: 1.2rem;
    font-weight: bold;
}

.rules__content {
    font-size: 1rem;
    font-weight: normal;
}

.home-top {
    background-image: url("/static/imgs/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.home-top__card {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 3rem 0;
}

.timetable-icons-col {
    min-width: 4em;
}

.timetable-lang-col {
    min-width: 4em;
}
