.group-table {
    text-align: center;
    border-collapse: collapse;
}

.group-table__header {
    min-width: 100px;

}

.group-table__result--empty {
    background-color: rgb(255, 212, 80);
}

.group-table__result--win {
    color: blue;
}

.group-table__result--lose {
    color: rgb(211, 47, 47);
}

.group-table__row--result-promotion {
    background-color: #d9ead3;
}

.group-table__row--result-relegation {
    background-color: #f4cccc;
}

.wgo-ctrlgroup-left, .wgo-ctrlgroup-right {
    display: none;
}

.errorlist {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
