{% extends "base.html" %}

{% block page_title %}Kontakt{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Kontakt</h1>
            <p>W sprawach dotyczących IGLO zapraszamy do kontaktu z:</p>
            <p>
                <strong>Oleksandr Yeroshkin</strong><br>
                Administrator Ligi<br>
                <a href="mailto:internetowagoligao@gmail.com">internetowagoligao@gmail.com</a><br>
                Kontakt w sprawach: <i>rezygnacja z gry w lidze, brak kontaktu z przeciwnikiem, podejrzenie dopingu elektronicznego, sporna sytuacja dot. gry, etc.</i>
            </p>
            <p>
                <strong>Konrad Hałas</strong><br>
                Administrator Systemu<br>
                <a href="mailto:halas.konrad@gmail.com">halas.konrad@gmail.com</a><br>
                Kontakt w sprawach: <i>problemy i błędy związane ze stroną WWW, propozycje usprawnień, etc.</i>
            </p>
            <p>Zarządcą IGLO jest stowarzyszenie <a href="https://www.szalenisamuraje.org/" target="_blank">Centrum
                Edukacyjne Gry Go "Szaleni Samuraje"</a>.</p>
        </div>
    </div>
{% endblock %}
