{% extends "base.html" %}

{% load static %}

{% block page_title %}Strona Główna{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <h1 class="card-title">Internetowa Go Liga O!</h1>
                    <p class="card-text">IGLO jest koleżeńską Ligą dla entuzjastów gry Go. Ma na celu budowanie
                        pozytywnych relacji między graczami i zwiększeniu poziomu ich gry. To okazja do regularnego
                        grania dłuższych gier oraz uzyskiwania komentarzy od silnych graczy. Dzięki czemu motywuje do
                        rozwoju i pogłębianiu wiedzy o Go.</p>
                    {% if not user.is_authenticated %}
                        <p class="card-text">Każdy gracz może znaleźć grupę odpowiadającą jego poziomowi, dlatego nie
                            czekaj tylko dołącz do nas!</p>
                        <a href="{% url "accounts:registration" %}" class="btn btn-success">Zapisz się!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">Zasady</div>
                <div class="card-body">
                    <p>Skrócone zasady IGLO:</p>
                    <ul>
                        <li>Grupy grają na zasadach "Każdy z każdym" lub "McMahon"</li>
                        <li>Dwie osoby z górnych miejsc w grupie awansują do grupy wyżej, dwie osoby z ostatnich miejsc
                            w grupie spadają do grupy niżej.
                        </li>
                        <li>Jedna gra tygodniowo z domyślnym terminem gry.</li>
                        <li>Minimalny czas gry to 30m+3x30. Zalecany 40m+3x30. Zachęcamy do przedłużenia czasu.</li>
                        <li>Gracz, któremu wyznaczony termin nie odpowiada, musi grę przełożyć.</li>
                        <li>Gramy na OGS (preferowany serwer) lub KGS.</li>
                    </ul>
                    <p>Więcej informacji znajdziesz w <a href="{% url "rules" %}">regulaminie</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">Wykłady i komentarze</div>
                <div class="card-body">
                    <p>Wszystkie nasze archiwalne i bieżące wykłady możesz znaleźć na <a
                            href="https://www.youtube.com/channel/UCXsGC1hVUqZ-JUjzfdSHYDQ" target="_blank">YouTube</a>.
                        Jeśl z jakiś przyczyn nie mogłeś uczestniczyć w komentarzu, albo chcesz poszerzyć swoją wiedzę
                        zachęcamy do obejrzenia materiałów i subskrypcji naszego kanału.
                    </p>
                    <p>W aktualnym sezonie gry komentują:</p>
                    <ul>
                        <li>Grupa A i B - Stanisław Frejlak 1 pro</li>
                        <li>Grupa C i D - Oleksandr Yeroshkin 4 dan</li>
                        <li>Grupa E i F - Maksym Wałaszewski 3 dan</li>
                        <li>Grupa G i H - Paweł Kozioł 4 kyu</li>
                    </ul>
                    <p>Archiwalne wykłady i komentarze dla grup A i B prowadził Stanisław Frejlak i Lukáš Podpěra i są
                        do obejrzenia na <a href="https://www.youtube.com/channel/UCXsGC1hVUqZ-JUjzfdSHYDQ" target="_blank">kanale IGLO</a>.
                    </p>
                    <p>Archiwalne wykłady i komentarze dla grup C oraz dalszych prowadzone były przez Cezarego
                        Czerneckiego i innych uczestników Ligi i są do obejrzenia na kanale <a href="https://www.youtube.com/channel/UCMgifrUqkfO58qVdvfs4xkg" target="_blank">IGLO Plus</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Wsparcie</div>
                <div class="card-body">
                    <p>Udział w IGLO jest całkowicie darmowy! Pamiętaj jednak, że aby opłacić wykłady i komentarze
                        korzystamy ze wsparcia naszych patronów. Jeśli również chcesz brać udział w rozwoju Ligi i
                        wspierać jej dalszą rozbudowę zachęcamy do dołączenia!</p>
                    <p>Co jesteśmy w stanie zdziałać dzięki Twojemu wsparciu:</p>
                    <ul>
                        <li>Podpisujemy umowy z Nauczycielami, dzięki czemu możesz korzystać z profesjonalnych wykładów
                            i komentarzy dostosowanych do każdej z grup (więcej w sekcji wykłady).
                        </li>
                        <li>Opłacamy serwer i domenę strony internetowej, dlatego każdy gracz posiada własne konto,
                            dzięki któremu może w łatwy sposób obsługiwać swoje gry.
                        </li>
                        <li>Jesteśmy w stanie zapewnić niezbędną obsługę prawną i księgową.</li>
                    </ul>
                    <p>Wystarczy naprawdę niewiele, a dzięki temu możemy działać szybciej i sprawniej.</p>
                    <p> Wpłat można dokonywać na:</p>
                    <div class="d-flex justify-content-center">
                        <a href="https://patronite.pl/iglo" target="_blank" class="btn btn-primary me-2">Patronite (PLN)</a>
                        <a href="https://www.patreon.com/igloooo" target="_blank" class="btn btn-primary">Patreon (EUR)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
