{% extends "base.html" %}

{% load static i18n %}

{% block page_title %}{% blocktrans %}Internetowa Liga Go IGLO{% endblocktrans %}{% endblock %}

{% block head %}
    <meta name="description"
          content="{% blocktrans trimmed %}IGLO jest koleżeńską Ligą dla entuzjastów gry Go. Ma na celu budowanie pozytywnych relacji między graczami i zwiększeniu poziomu ich gry. To okazja do regularnego grania dłuższych gier oraz uzyskiwania komentarzy od silnych graczy. Dzięki czemu motywuje do rozwoju i pogłębiania wiedzy o Go.{% endblocktrans %}">
{% endblock %}

{% block top %}
    <div class="home-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center home-top__card">
                        <div class="card-body">
                            <h1 class="card-title">{% translate "Internetowa Liga Go IGLO" %}</h1>
                            <p class="card-text">
                                {% blocktrans trimmed %}
                                    IGLO jest koleżeńską Ligą dla entuzjastów gry Go. Ma na celu budowanie pozytywnych
                                    relacji między graczami i zwiększeniu poziomu ich gry. To okazja do regularnego
                                    grania dłuższych gier oraz uzyskiwania komentarzy od silnych graczy. Dzięki czemu
                                    motywuje do rozwoju i pogłębiania wiedzy o Go.
                                {% endblocktrans %}
                            </p>
                            {% if not user.is_authenticated %}
                                <p class="card-text">
                                    {% blocktrans trimmed %}
                                        Każdy gracz może znaleźć grupę odpowiadającą jego poziomowi, dlatego nie czekaj
                                        tylko dołącz do nas!
                                    {% endblocktrans %}
                                </p>
                                <a href="{% url "accounts:registration" %}" class="btn btn-primary">
                                    {% translate "Zapisz się!" %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% if latest_season %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>{% translate "Aktualny sezon" %}</span>
                        <span class="badge season-state--{{ latest_season.state }} ms-2">{{ latest_season.get_state_display | upper }}</span>
                    </div>
                    <div class="card-body">
                        <h2><a href="{{ latest_season.get_absolute_url }}">{% translate "Sezon" %}
                            #{{ latest_season.number }}</a>
                        </h2>
                        <p class="text-muted">{{ latest_season.start_date }} - {{ latest_season.end_date }}</p>
                        <h5>{% translate "Grupy" %}</h5>
                        <div>
                            {% for group in latest_season.groups.all %}
                                <a href="{{ group.get_absolute_url }}"
                                   class="btn btn-primary mb-3" style="min-width: 40px">{{ group.name }}</a>
                            {% endfor %}
                        </div>
                        <p>{% translate "Rozegranych gier" %}: {{ latest_season.played_games }}
                            / {{ latest_season.all_games_to_play }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ latest_season.games_progress }}%"
                                 aria-valuenow="{{ latest_season.games_progress }}"
                                 aria-valuemin="0" aria-valuemax="100">
                                {% if latest_season.games_progress %}{{ latest_season.games_progress }}%{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">{% translate "Zasady" %}</div>
                <div class="card-body">
                    <p>{% blocktrans %}Skrócone zasady IGLO{% endblocktrans %}:</p>
                    <ul>
                        <li>{% blocktrans %}Jedna gra tygodniowo z domyślnym terminem gry.{% endblocktrans %}</li>
                        <li>{% blocktrans trimmed %}Rekomendowany czas gry to 40m+3x30.{% endblocktrans %}</li>
                        <li>{% blocktrans trimmed %}Gracz, któremu wyznaczony termin nie odpowiada, musi grę
                            przełożyć.{% endblocktrans %}</li>
                        <li>{% blocktrans trimmed %}Gramy na OGS (preferowany serwer) lub KGS.{% endblocktrans %}</li>
                    </ul>
                    {% url "rules" as rules_url %}
                    <p>{% blocktrans trimmed %}Więcej informacji znajdziesz w <a href="{{ rules_url }}">regulaminie</a>
                        .{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">{% translate "Nadchodzące gry" %}</div>
                <div class="card-body">
                    {% include "includes/upcoming_games_table.html" with games=upcoming_games %}
                    <p class="text-end">
                        <a href="{% url "upcoming-games-list" %}">{% translate "więcej..." %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">{% translate "Najnowsze gry" %}</div>
                <div class="card-body">
                    {% include "includes/results_table.html" with games=latest_games %}
                    <p class="text-end">
                        <a href="{% url "games-list" %}">{% translate "więcej..." %}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-header">{% translate "Najnowsze komentarze" %}</div>
                <div class="card-body">
                    {% include "includes/reviews_table.html" with games=latest_reviews %}
                    <p class="text-end">
                        <a href="{% url "reviews-list" %}">{% translate "więcej..." %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex flex-lg-row flex-column justify-content-between align-items-center">
                    <p class="me-lg-3">
                        {% blocktrans trimmed %}
                            <strong>Dołącz do naszego serwera Discord!</strong> Bądź na bieżąco ze wszystkimi
                            ogłoszeniami organizatorów. Uczestnicz w dyskusjach dotyczących ligi, rozegranych gier oraz
                            komentarzy nauczycieli. Zapraszamy do kanału <code>#iglo</code>.
                        {% endblocktrans %}
                    </p>
                    <a href="https://discord.gg/gBHsmMX796" class="btn btn-primary text-nowrap" target="_blank">
                        <i class="fab fa-discord"></i>&nbsp;{% trans "Dołącz" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card h-100">
                <div class="card-header">{% translate "Wsparcie" %}</div>
                <div class="card-body">
                    <p>
                        {% blocktrans trimmed %}
                            Udział w IGLO jest całkowicie darmowy! Pamiętaj jednak, że aby opłacić wykłady i komentarze
                            korzystamy ze wsparcia naszych patronów. Jeśli również chcesz brać udział w rozwoju Ligi i
                            wspierać jej dalszą rozbudowę zachęcamy do dołączenia!
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            Co jesteśmy w stanie zdziałać dzięki Twojemu wsparciu:
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li>
                            {% url "teacher-list"  as teacher_list_url %}
                            {% blocktrans trimmed %}
                                Podpisujemy umowy z Nauczycielami, dzięki czemu możesz korzystać z profesjonalnych
                                wykładów i komentarzy dostosowanych do każdej z grup (więcej w sekcji <a
                                    href="{{ teacher_list_url }}">Nauczyciele</a>).
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Opłacamy serwer i domenę strony internetowej, dlatego każdy gracz posiada własne konto,
                                dzięki któremu może w łatwy sposób obsługiwać swoje gry.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Jesteśmy w stanie zapewnić niezbędną obsługę prawną i księgową.
                            {% endblocktrans %}
                        </li>
                    </ul>
                    <p>
                        {% blocktrans trimmed %}
                            Wystarczy naprawdę niewiele, a dzięki temu możemy działać szybciej i sprawniej.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            Wpłat można dokonywać na:
                        {% endblocktrans %}
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="https://patronite.pl/iglo" target="_blank" class="btn btn-primary me-2">Patronite
                            (PLN)</a>
                        <a href="https://www.patreon.com/iglooo" target="_blank" class="btn btn-primary">Patreon
                            (EUR)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
