{% extends "base.html" %}

{% block page_title %}Strona Główna{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <h1 class="card-title">Internetowa Go Liga O!</h1>
                    <p class="card-text">IGLO jest koleżeńską ligą dla entuzjastów Go. Ma na celu budowanie relacji z
                        innymi graczami i
                        zwiększeniu poziomu gry. To okazja do regularnego grania dłuższych gier oraz do uzyskania
                        komentarza od
                        silnych graczy.</p>
                    <p class="card-text">Każdy gracz znajdzie dla siebie grupe odpowiedającą jego poziomowi, zatem nie
                        czekaj tylko dołącz do nas!</p>
                    <a href="{% url "accounts:registration" %}" class="btn btn-success">Zapisz się!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">Zasady</div>
                <div class="card-body">
                    <ul>
                        <li>Jedna gra tygodniowo z domyślnym terminem gry.</li>
                        <li>Każda grupa gra o określonej godzinie w dedykowany dzień.</li>
                        <li>Gracz, któremu wyznaczony termin nie odpowiada, musi grę przełożyć.</li>
                        <li>Minimalny czas gry to 30m+3x30. Zalecany 40m+3x30. Zachęcamy do przedłużenia czasu.</li>
                        <li>Gramy na OGS.</li>
                    </ul>
                    <p>Więcej informacji znajdziesz w <a href="">regulaminie</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">Wykłady i komentarze</div>
                <div class="card-body">
                    <ul>
                        <li>Do każdej gry można dostać komentarz gracza ze stopniem mistrzowskim. W dniach domyślnych, dwie godziny po standardowej godzinie gry odbywają się komentarze.</li>
                        <li>Grupy A i B komentują Stanisław Frejlak 7 dan oraz Lukáš Podpěra 7 dan.</li>
                        <li>Grupy alfabetycznie później komentują Cezary Czernecki 4 dan oraz gracze z grupy A i B.</li>
                        <li>W każdym sezonie odbywają się co najmniej dwa wykłady tematyczne.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
