{% extends "base.html" %}

{% block page_title %}Komentarze{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Komentarze</h1>
            <p>Lista nauczycieli w bieżącym sezonie IGLO jest dostępna
                <a href="{% url "teachers-list" number=latest_season.number %}">tutaj</a>.</p>
            <p>Wszystkie nasze archiwalne i bieżące wykłady możesz znaleźć na <a
                    href="https://www.youtube.com/channel/UCXsGC1hVUqZ-JUjzfdSHYDQ" target="_blank">YouTube</a>.
                Jeśl z jakiś przyczyn nie mogłeś uczestniczyć w komentarzu, albo chcesz poszerzyć swoją wiedzę
                zachęcamy do obejrzenia materiałów i subskrypcji naszego kanału.
            </p>
            <p>Precyzyjne daty i godziny komentarzy gier będą aktualizowane w wydarzeniach na <a
                    href="https://www.facebook.com/SzaleniSamuraje/events" target="_blank">profilu FB Szalonych
                Samurajów</a>. Komentarze "na żywo" odbywają się na <a href="https://discord.gg/ECSdsuNgkf"
                                                                       target="_blank">serwerze Discord
                Szalonych Samurajów.</a></p>
            <p>Archiwalne wykłady i komentarze dla grup A i B prowadził Stanisław Frejlak i Lukáš Podpěra i są
                do obejrzenia na <a href="https://www.youtube.com/channel/UCXsGC1hVUqZ-JUjzfdSHYDQ"
                                    target="_blank">kanale IGLO</a>.
            </p>
            <p>Archiwalne wykłady i komentarze dla grup C oraz dalszych prowadzone były przez Cezarego
                Czerneckiego i innych uczestników Ligi i są do obejrzenia na kanale <a
                        href="https://www.youtube.com/channel/UCMgifrUqkfO58qVdvfs4xkg" target="_blank">IGLO
                    Plus</a>.</p>
            <p>Listy nauczycieli w poszczególnych sezonach:</p>
            <ul>
                {% for season in season_list %}
                    <li><a href="{% url "teachers-list" number=season.number %}">Sezon {{ season.number }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
