{% extends "base.html" %}

{% block page_title %}Zasady{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Regulamin</h1>
            <h3>Współpraca</h3>
            <ol>
                <li>Gracze są zobowiązani przestrzegać ducha sportowej rywalizacji, zasad fair play i szacunku względem
                    innych. Zachowania nietaktowne, nieetycznie i wulgarne nie będą tolerowane.
                </li>
                <li>Każdy gracz gra sam, bez dodatkowego wsparcia. Podczas gry obowiązuje zakaz korzystania z pomocy
                    innych graczy, programów, książek, itp.
                </li>
                <li>Rejestracja i udział w Lidze są darmowe.</li>
                <li>Gry ligowe nie są zgłaszane do oficjalnego rankingu EGD.</li>
            </ol>
            <h3>Rejestracja i rezygnacja</h3>
            <ol start="5">
                <li>Każdy gracz może zapisać się do Ligi rejestrując się na stronie w dowolnym momencie. Jeżeli jednak
                    jego rejestracja przypada na okres trwania sezonu Ligi, jego aktywny udział w grach rozpocznie się
                    od nowego sezonu.
                </li>
                <li>Można zrezygnować z grania w Lidze w dowolnym momencie pisząc do Administratora Ligi, z tym że
                    rezygnując w trakcie trwania sezonu uczestnik zgadza się na poddanie walkowerem gier, których już
                    nie zagra.
                </li>
            </ol>
            <h3>Zasady gry</h3>
            <ol start="7">
                <li>Gramy w grę Go na zasadach Japońskich, plansza 19x19, komi 6.5, kolor zostanie przydzielony
                    automatycznie przed rozpoczęciem sezonu. Gry rozgrywane są online w pokoju Polish Go Players na OGS
                    lub na serwerze KGS w Polskim Pokoju.
                </li>
                <li>Minimalny czas gry to 30min i 3x30s japońskiego niedoczasu, standardowo zalecany czas gry to 40min i
                    3x30s japońskiego niedoczasu, za zgodą obu graczy można zmienić zasady czasu podstawowego i
                    dodatkowego, jak i jego ilość.
                </li>
                <li>Preferowany portal do gry to OGS.</li>
                <li>Nowo zapisany gracz, zaczyna w grupie z graczami o podobnej sile.</li>
                <li>Na początku gry należy zaznaczyć, że jest to gra do Ligi IGLO (napisać “IGLO” w czacie gry).</li>
            </ol>
            <h3>Termin gry</h3>
            <ol start="12">
                <li>Jeśli gracze nie ustalą inaczej, gry odbywają się w terminie domyślnym.</li>
                <li>Za zgodą obydwu graczy, można zmienić termin gry, jednak nie później niż niedziela do godziny 18.00.
                    Gracz, który chciałby zmienić termin, informuje o tym drugiego gracza co najmniej trzy dni przed
                    domyślnym terminem gry przez e-mail.
                </li>
                <li>Nowy termin należy uzupełnić w systemie przed datą domyślnej rozgrywki.</li>
                <li>Kopię rozmowy między graczami w sprawie zmiany terminu należy przesłać Administratorowi Ligi na
                    adres e-mail.
                </li>

            </ol>
            <h3>Zgłoszenie wyniku gry, przegrana</h3>
            <ol start="16">
                <li>Gracz, który nie zaproponuje nowego terminu i nie stawi się w terminie domyślnym, przegrywa grę
                    walkowerem.
                </li>
                <li>Po 30 minutowym spóźnieniu, gracz spóźniony przegrywa walkowerem.</li>
                <li>Wyniki gier zgłaszamy w swoim koncie na stronie. Wynik zgłasza gracz, który wygrał.</li>
            </ol>
            <h3>Kwestie dyskusyjne</h3>
            <ol start="19">
                <li>Jeżeli występuje brak porozumienia między graczami należy zgłosić się do Administratora Ligi. W
                    kwestiach spornych ostateczną decyzję podejmuje Administrator i jest ona nieodwołalna.
                </li>
            </ol>
            <h3>RODO</h3>
            <ol start="20">
                <li>Klauzula RODO w stosunku do uczestników Ligi znajduje się na stronie: <a
                        href="https://www.szalenisamuraje.org/rodo">https://www.szalenisamuraje.org/rodo</a>.
                </li>
                <li>Rejestrując się na stronie oświadczasz, że zgodnie z art. 13 ust 1 i 2 rozporządzenia Parlamentu
                    Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w
                    związku z przetwarzaniem danych osobowych i w sprawie
                </li>
                swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Dz. Urz. UE L 119 z 2016 r.)
                zapoznałeś się z treścią klauzuli informacyjnej RODO, w tym o przysługującym prawie dostępu do treści
                danych oraz ich poprawiania, jak również, że podanie tych danych było dobrowolne.
                <li>Rejestrując się na stronie oświadczasz, że zapoznałeś się z treścią regulaminu i akceptujesz jego
                    treść.
                </li>

            </ol>
            <h3>Zasady szczegółowe grup</h3>
            <ol start="23">
                <li>
                    Każda grupa składa się przeważnie z 6 graczy, oprócz grupy ostatniej, która może mieć nieparzystą
                    liczbę uczestników.
                    <ul>
                        <li>kształt grupy (liczba osób) ustalany jest na początku sezonu, jednak w trakcie trwania Ligi
                            może ulec zmianie
                        </li>
                        <li>grupa może być rozgrywana na zasadach "Każdy z każdym" lub McMahon</li>
                    </ul>
                </li>
                <li>Standardowo wszystkie grupy to 6-osobowe Ligi z ostatnią grupą, która może być rozgrywana w systemie
                    McMahon.
                </li>
                <li>
                    Breakery:
                    <ul>
                        <li>dla grupy "Każdy z każdym": Liczba zwycięstw, SODOS, DC, Pozycja startowa</li>
                        <li>dla grupy McMahon: ScoreX, SOS, SOSOS</li>
                    </ul>
                </li>
                <li>
                    Spadki i awanse
                    <ul>
                        <li>dwie osoby z górnych miejsc w grupie awansują do grupy wyżej,</li>
                        <li>dwie osoby z ostatnich miejsc w grupie spadają do grupy niżej,</li>
                        <li>awans i spadek nie są gwarantowane. Na przykład zasady grup między sezonami mogą być
                            zastąpione innymi,
                        </li>
                        <li>jeżeli liczba graczy w grupie zmieni się w wyniku dopisania lub zrezygnowania któregokolwiek
                            z graczy.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
