{% extends "base.html" %}

{% load i18n %}

{% block page_title %}Regulamin{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Regulamin</h1>
            <ol type="I">
                <li class="rules__header">
                    {% blocktrans trimmed %}Współpraca{% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Gracze są zobowiązani przestrzegać ducha sportowej rywalizacji, zasad fair play i
                                szacunku  względem innych. Zachowania nietaktowne, nieetycznie i wulgarne nie będą
                                tolerowane.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Każdy gracz gra sam, bez dodatkowego wsparcia. Podczas gry obowiązuje zakaz korzystania
                                z pomocy innych graczy, programów, książek, itp.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Rejestracja i udział w Lidze są darmowe.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Organizatorzy ligii komunikują się z graczami poprzez dystrybucję ogłoszeń poprzez
                                email, Facebook oraz Discord (każde ogłoszenie jest kopiowane/udostępniane na tych
                                trzech mediach). Obowiązkiem uczestnika jest regularne monitorowanie minimum jednego z
                                tych trzech mediów komunikacji.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Rejestracja i rezygnacja
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Każdy gracz może zapisać się do Ligi rejestrując się na stronie WWW w dowolnym momencie.
                                Jeżeli jednak rejestracja przypada na okres trwania sezonu Ligi, aktywny udział w grach
                                rozpocznie się od nowego sezonu.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Można zrezygnować z grania w Lidze w dowolnym momencie pisząc do Administratora Ligi,
                                jednak rezygnując w trakcie trwania sezonu uczestnik zgadza się na poddanie walkowerem
                                gier, których już nie zagra.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Jeżeli gracz ma wątpliwości lub nie zna swojej siły (rankingu), ma obowiązek zgłosić się
                                mailowo do Administratora Ligi z prośbą o określenie siły.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Zasady gry
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Gramy w grę Go na zasadach Japońskich, plansza 19x19, komi 6.5, kolor zostanie
                                przydzielony automatycznie przed rozpoczęciem sezonu.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Gry rozgrywane są online na serwerze OGS lub na serwerze KGS w Polskim Pokoju.
                                Preferowany portal do gry to OGS. Grę można rozegrać również “na żywo” z obowiązkiem
                                zapisu gry.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Czas gry to 40min i 3x30s japońskiego niedoczasu (byō-yomi).
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Dopuszcza się zmianę czasu gry za obopólną zgodą obu graczy.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Gracze mają obowiązek wyłączenia analizy gry na portalu OGS.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Nowo zapisany gracz, zaczyna w grupie o podobnej sile.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Na początku gry należy zaznaczyć, że jest to gra do Ligi IGLO (napisać “IGLO” w czacie
                                gry).
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Termin gry
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Jeśli gracze nie ustalą inaczej, gry odbywają się w terminie domyślnym podanym na
                                stronie WWW.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Za zgodą obydwu graczy, można zmienić termin gry, jednak nie później niż ostatni dzień
                                rundy do godziny 20.00. Uczestnik, który chciałby zmienić termin, informuje o tym
                                drugiego zawodnika co najmniej trzy dni przed domyślnym terminem gry przez preferowaną
                                formę kontaktu podaną w wizytówce każdego gracza na stronie WWW.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Nowy termin należy uzupełnić na stronie WWW przed datą domyślnej rozgrywki.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Zgłoszenie wyniku gry, przegrana
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Gracz, który nie zaproponuje nowego terminu i nie stawi się w terminie domyślnym,
                                przegrywa grę walkowerem.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Po 30 minutowym spóźnieniu, gracz spóźniony przegrywa walkowerem.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Wyniki gier zgłaszamy w swoim koncie na stronie WWW. Wynik zgłasza gracz, który wygrał.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Gry w EGD
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Gry ligowe nie są zgłaszane do oficjalnego rankingu EGD, chyba że większość uczestników
                                grupy zadecyduje inaczej.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Gry w grupie z EGD mogą być rozgrywane tylko na portalu OGS.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Zgłoszenie chęci dołączenia można dokonać poprzez zaznaczenie opcji: „Chcę raportować
                                moje gry do EGD” w swoim profilu przed rozpoczęciem każdego sezonu.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Każdy zawodnik, który uczestniczy w grupie objętej rankingiem EGD ma obowiązek
                                rejestrowania video swoich gier.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Nagranie powinno obejmować gracza oraz ekran, na którym rozgrywana jest partia, tak aby
                                była ona rozpoznawalna, a jakość nagrania musi to umożliwiać.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Nagrań nie trzeba nigdzie upubliczniać, ale uczestnik jest zobowiązany do ich
                                przechowywania aż do zakończenia sezonu.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                W przypadku braku nagrania, a wystąpienia wątpliwości co do użycia przez gracza dopingu,
                                gra zostanie poddana analizie przez nauczycieli i system AI.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Kwestie dyskusyjne
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Jeżeli występuje brak porozumienia między graczami lub podejrzenie użycia dopingu
                                elektronicznego należy niezwłocznie zgłosić się do Administratora Ligi.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                W kwestiach spornych ostateczną decyzję podejmuje Administrator Ligi i jest ona
                                nieodwołalna.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        Zasady szczegółowe grup
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Każda grupa składa się przeważnie z 6 graczy, oprócz grupy ostatniej, która może mieć
                                inną liczbę graczy (w zależności od liczby graczy w całym sezonie).
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Grupy rozgrywane są na zasadzie "Każdy z każdym", a ostatnia grupa w systemie McMahon,
                                tylko jeżeli należy do niej więcej niż 6 graczy.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Breakery:
                            {% endblocktrans %}
                            <ul class="rules__content">
                                <li>
                                    {% blocktrans trimmed %}
                                        dla grupy "Każdy z każdym": Liczba zwycięstw, SODOS, Pozycja startowa,
                                    {% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans trimmed %}
                                        dla grupy McMahon: McMahon Score, SOS, SOSOS, Pozycja startowa.
                                    {% endblocktrans %}
                                </li>
                            </ul>
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Spadki i awanse:
                            {% endblocktrans %}
                            <ul class="rules__content">
                                <li>
                                    {% blocktrans trimmed %}
                                        dwie osoby z górnych miejsc w grupie mogą awansować do grupy wyżej,
                                    {% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans trimmed %}
                                        dwie osoby z ostatnich miejsc w grupie mogą spaść do grupy niżej,
                                    {% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans trimmed %}
                                        awans i spadek nie są gwarantowane (np. liczba graczy w sezonie zmieni się w
                                        wyniku dopisania lub zrezygnowania któregokolwiek z graczy).
                                    {% endblocktrans %}
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li class="rules__header">
                    {% blocktrans trimmed %}
                        RODO
                    {% endblocktrans %}
                    <ol class="rules__content">
                        <li>
                            {% blocktrans trimmed %}
                                Klauzula RODO w stosunku do uczestników Ligi znajduje się na stronie:
                                <a href="https://www.szalenisamuraje.org/rodo" target="_blank">
                                    www.szalenisamuraje.org/rodo</a>.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Rejestrując się na stronie oświadczasz, że zgodnie z art. 13 ust 1 i 2 rozporządzenia
                                Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie
                                ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
                                swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Dz. Urz. UE L 119
                                z 2016 r.) zapoznałeś się z treścią klauzuli informacyjnej RODO, w tym o przysługującym
                                prawie dostępu do treści danych oraz ich poprawiania, jak również, że podanie tych
                                danych było dobrowolne.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                Rejestrując się na stronie oświadczasz, że zapoznałeś się z treścią regulaminu i
                                akceptujesz jego treść.
                            {% endblocktrans %}
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
