{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% translate "Komentarze" %}{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h2 class="mb-4">{% translate "Komentarze" %}</h2>
            {% include "includes/reviews_table.html" with games=game_list full=True%}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-center">
                {% include "includes/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}