{% load i18n %}

{% if game.link %}
    <a href="{{ game.link }}" target="_blank" class="btn btn-primary">
        <i class="fa fa-external-link-alt"></i> <span class="d-none d-md-inline">OGS</span>
    </a>
{% endif %}
{% if game.review_video_link %}
    <a href="{{ game.review_video_link }}" class="btn btn-primary" target="_blank">
        <i class="fab fa-youtube"></i> <span class="d-none d-md-inline">{% translate "Komentarz"%}</span>
    </a>
{% endif %}
{% if game.ai_analyse_link %}
    <a href="{{ game.ai_analyse_link }}" class="btn btn-primary" target="_blank">
        <i class="fas fa-robot"></i> <span class="d-none d-md-inline">{% translate "Analiza AI" %}</span>
    </a>
{% endif %}
{% if game.sgf_link %}
    <a href="{{ game.sgf_link }}" class="btn btn-primary">
        <i class="fa fa-download"></i> <span class="d-none d-md-inline">SGF</span>
    </a>
{% endif %}
{% if show_link %}
<a href="{{ game.get_absolute_url }}" class="btn btn-primary">
    <i class="fas fa-arrow-right"></i>
</a>
{% endif %}
