{% extends "accounts/base.html" %}

{% load crispy_forms_filters i18n %}

{% block page_title %}{% translate "Logowanie"%}{% endblock %}

{% block form_content %}
    <h2>{% translate "Logowanie" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
            {% translate "Zaloguj" %}
        </button>
        <a class="btn btn-link btn-sm" href="{% url 'accounts:password_reset' %}">
            {% blocktrans %}Nie pamiętasz hasła?{% endblocktrans %}
        </a>
    </form>
{% endblock %}
