{% load i18n %}
{% blocktrans %}Otrzymujesz tę wiadomość, gdyż skorzystano z opcji resetu hasła dla Twojego konta na stronie {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Aby wprowadzić nowe hasło, proszę przejść na stronę, której adres widnieje poniżej:{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% blocktrans %}Twoja nazwa użytkownika, na wypadek, gdybyś zapomniał(a):{% endblocktrans %} {{ user.get_username }}

{% blocktrans %}Dziękujemy za korzystanie naszej strony.{% endblocktrans %}

{% blocktrans %}Zespół IGLO{% endblocktrans %}
