{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Zresetowanie hasła powiodło się{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>{% blocktrans %}Zresetowanie hasła powiodło się{% endblocktrans %}</h2>
            <p>{% blocktrans %}Twoje hasło zostało ustawione. Możesz się teraz zalogować.{% endblocktrans %}</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-link">{% blocktrans %}Zaloguj się{% endblocktrans %}</a>
        </div>
    </div>
{% endblock %}
