{% extends "accounts/base.html" %}

{% load crispy_forms_filters i18n %}

{% block page_title %}{% blocktrans %}Resetowanie hasła{% endblocktrans %}{% endblock %}

{% block form_content %}
    <h2>{% blocktrans %}Resetowanie hasła{% endblocktrans %}</h2>
    <p>
        {% blocktrans trimmed %}Jeżeli zapomniałeś swojego hasła lub Twoje hasło nie zostało jeszcze ustawione wpisz swój adres
            email a wyślemy na niego instrukcje jak zmienić hasło.{% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
            {% blocktrans %}Zresetuj moje hasło{% endblocktrans %}
        </button>
    </form>
{% endblock %}
