{% extends "accounts/base.html" %}

{% load crispy_forms_filters i18n %}

{% block page_title %}{% blocktrans %}Wprowadź nowe hasło{% endblocktrans %}{% endblock %}

{% block form_content %}
    <h2>{% blocktrans %}Wprowadź nowe hasło{% endblocktrans %}</h2>
    <p>{% blocktrans %}Tutaj możesz ustawić nowe hasło do swojego konta na stronie IGLO.{% endblocktrans %}
        <strong>{% blocktrans %}Pamiętaj, aby wybrać silne hasło!{% endblocktrans %}</strong></p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% blocktrans %}Zmień hasło{% endblocktrans %}</button>
    </form>
{% endblock %}
