{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Potwierdzenie zresetowania hasła zostało wysłane{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>
                {% blocktrans trimmed %}
                    Potwierdzenie zresetowania hasła zostało wysłane
                {% endblocktrans %}
            </h2>
            <p>
                {% blocktrans trimmed %}
                    Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem
                    powinna się pojawić na twoim koncie pocztowym.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                    W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony
                    jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim
                    koncie.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
