{% extends "accounts/base.html" %}

{% load crispy_forms_filters %}

{% block page_title %}Resetowanie hasła{% endblock %}

{% block form_content %}
    <h2>Resetowanie hasła</h2>
    <p>Jeżeli zapomniałeś swojego hasła lub Twoje hasło nie zostało jeszcze ustawione wpisz swój adres email a wyślemy na
        niego instrukcje jak zmienić hasło.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Zresetuj moje hasło</button>
    </form>
{% endblock %}
