{% extends "accounts/base.html" %}

{% load crispy_forms_filters i18n %}

{% block page_title %}{% blocktrans %}Rejestracja{% endblocktrans %}{% endblock %}

{% block form_content %}
    <h2>{% blocktrans %}Rejestracja{% endblocktrans %}</h2>
    <p>
        {% blocktrans trimmed %}
            W celu rozpoczęcia gry w lidze konieczne jest posiadanie konta w naszym systemie.
        {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">{% blocktrans %}Zarejestruj{% endblocktrans %}</button>
    </form>
    <div class="modal fade" id="gor-modal" tabindex="-1" aria-labelledby="gor-modal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% blocktrans %}Punkty GoR{% endblocktrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {% blocktrans trimmed %}
                            Punkty GoR to system służący do oceny siły poszczególnych graczy przez EGF (European Go
                            Federation). Lista rankingowa obejmuje wszystkich graczy z Europy, którzy uczestniczyli w
                            oficjalnych turniejach. Różnica między stopniami jest ustawiona na 100 (na przykład: 6 dan
                            ma 2600 punktów, 1 kyu to 2000, a 20 kyu to 100 itd.). Znajomość twojej siły pozwoli nam
                            dopasować Cię do odpowiedniej grupy w Lidze.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            Jeśli chcesz dowiedzieć się więcej zapraszamy na stronę
                            <a href="https://europeangodatabase.eu/EGD/EGF_rating_system.php" target="_blank">EGD</a>.
                        {% endblocktrans %}
                    </p>
                    <h5>{% blocktrans %}Gdzie znaleźć informację o punktach GoR?{% endblocktrans %}</h5>
                    <p>
                        {% blocktrans trimmed %}
                            Jeśli uczestniczyłeś już w oficjalnym turnieju punkty są widoczne na <a
                                href="https://europeangodatabase.eu/EGD/Find_Player.php" target="_blank">Twoim
                            profilu</a>
                            w European Go Database w okienku o nazwie ‘GoR’.
                        {% endblocktrans %}
                    </p>
                    <h5>{% blocktrans %}Co jeśli nie ma mnie w oficjalnej bazie?{% endblocktrans %}</h5>
                    <p>
                        {% blocktrans trimmed %}
                            Jeśli nie grałeś w oficjalnym turnieju i nie znasz swojej siły wpisz:
                        {% endblocktrans %} <strong>100</strong>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                        {% blocktrans %}Zamknij{% endblocktrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
