{% extends "accounts/base.html" %}

{% load crispy_forms_filters %}

{% block page_title %}Rejestracja{% endblock %}

{% block form_content %}
    <h2>Rejestracja</h2>
    <p>W celu rozpoczęcia gry w lidze konieczne jest posiadanie konta w naszym systemie.</p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
    <div class="modal fade" id="gor-modal" tabindex="-1" aria-labelledby="gor-modal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Punkty GoR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Punkty GoR to system służący do oceny siły poszczególnych graczy przez EGF (European Go
                        Federation). Lista rankingowa obejmuje wszystkich graczy z Europy, którzy uczestniczyli w
                        oficjalnych turniejach. Różnica między stopniami jest ustawiona na 100 (na przykład: 6 dan ma
                        2600 punktów, 1 kyu to 2000, a 20 kyu to 100 itd.). Znajomość twojej siły pozwoli nam dopasować
                        Cię do odpowiedniej grupy w Lidze.</p>
                    <p>Jeśli chcesz dowiedzieć się więcej zapraszamy na stronę
                        <a href="https://europeangodatabase.eu/EGD/EGF_rating_system.php." target="_blank">EGD</a>.</p>
                    <h5>Gdzie znaleźć informację o punktach GoR?</h5>
                    <p>Jeśli uczestniczyłeś już w oficjalnym turnieju punkty są widoczne na <a
                            href="https://europeangodatabase.eu/EGD/Find_Player.php." target="_blank">Twoim profilu</a>
                        w European Go Database w okienku o nazwie ‘GoR’.</p>

                    <h5>Co jeśli nie ma mnie w oficjalnej bazie?</h5>
                    <p>Jeśli nie grałeś w oficjalnym turnieju i nie znasz swojej siły wpisz: <strong>100</strong>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
