{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for language in languages %}
        <link rel="alternate" hreflang="{{ language.code }}" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% translate_url language.code %}" />
    {% endfor %}
    <link rel="alternate" hreflang="x-default" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% translate_url 'pl' %}" />
    <link href="{% static "bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>IGLO | {% block page_title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand h1 mb-0" href="{% url "home" %}">IGLO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% url "home" as home_url %}
                {% url "seasons-list" as seasons_url %}
                {% url "rules" as rules_url %}
                {% url "accounts:login" as login_url %}
                {% url "accounts:registration" as registration_url %}
                {% url "player-detail" user.player.nick as profile_url %}
                {% url "contact" as contact_url %}
                {% url "teacher-list" as teachers_url %}
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == home_url %}active{% endif %}" aria-current="page"
                       href="{{ home_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if seasons_url in request.get_full_path %}active{% endif %}"
                       aria-current="page" href="{{ seasons_url }}">{% translate "Sezony" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if teachers_url in request.get_full_path %}active{% endif %}"
                       aria-current="page"
                       href="{{ teachers_url }}">{% translate "Nauczyciele" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == rules_url %}active{% endif %}" aria-current="page"
                       href="{{ rules_url }}">{% translate "Regulamin" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == contact_url %}active{% endif %}"
                       aria-current="page"
                       href="{{ contact_url }}">{% translate "Kontakt" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.player %}
                        <li class="nav-item">
                            <a href="{{ profile_url }}"
                               class="nav-link {% if request.get_full_path == profile_url %}active{% endif %}">
                                <i class="fas fa-calendar-alt"></i> {% translate "Twoje Gry" %}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.email }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if user.player %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url "player-settings" request.user.player.nick %}">
                                        <i class="fas fa-user"></i> {% translate "Edytuj profil" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "accounts:password_change" %}">
                                    <i class="fas fa-cog"></i> {% translate "Zmień hasło/email" %}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url "accounts:logout" %}">
                                    <i class="fas fa-sign-out-alt"></i> {% translate "Wyloguj" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == login_url %}active{% endif %}"
                           aria-current="page"
                           href="{{ login_url }}">{% translate "Logowanie" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.get_full_path == registration_url %}active{% endif %}"
                           aria-current="page"
                           href="{{ registration_url }}">{% translate "Rejestracja" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="language-dropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ LANGUAGE_CODE.upper }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end language-dropdown" aria-labelledby="language-dropdown">
                        {% for language in languages %}
                            <li>
                                <a href="{% translate_url language.code %}" class="dropdown-item">
                                    {{ language.code.upper }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mb-3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>
<script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "bootstrap/popper.min.js" %}"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>
