<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IGLO</title>
    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
            text-align: center;
        }

        img {
            padding: 10px;
            border: 1px solid grey;
            border-radius: 2px;
        }
    </style>
</head>
<body>
<h1>Tutaj powstaje nowa strona IGLO...</h1>
<p>... w międzyczasie zapraszamy do odwiedzania strony <a href="https://www.szalenisamuraje.org/">Szalonych
    Samurajów</a></p>
<img src="https://th.bing.com/th/id/R.cd9573871c9c144a33e1ece1ee3624c2?rik=BMFI1I%2F4qa3%2FvQ">
</body>
</html>