{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% translate "Wyniki" %}{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-baseline justify-content-between mb-3">
        <h2>{% translate "Wyniki" %}</h2>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-1 d-none d-md-block">
                <input type="text" name="seasons" class="form-control" placeholder="{% translate "Sezony" %}" value="{{ seasons }}">
            </div>
            <div class="col-1 d-none d-md-block">
                <input type="text" name="groups" class="form-control" placeholder="{% translate "Grupy" %}" value="{{ groups }}">
            </div>
            <div class="col-5 d-none d-md-block">
                <input type="text" name="player" class="form-control" placeholder="{% translate "Gracz" %}" value="{{ player }}">
            </div>
            <div class="col-1 d-none d-md-block">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="row mb-3">
        <div class="col">
            {% for game in game_list %}
                <div class="row">
                    <div class="col-1 order-2 order-md-first text-muted text-nowrap">
                        {{ game.group.season.number }}
                    </div>
                    <div class="col-1 order-2 order-md-first text-muted">
                        {{ game.group.name }}
                    </div>
                    <div class="col">
                        <span class="text-truncate {% if game.winner == game.black %}fw-bold{% endif %}">
                            <i class="fas fa-circle"></i>
                            {{ game.black.player.nick }}
                        </span>
                    </div>
                    <div class="col">
                        <span class="text-truncate {% if game.winner == game.white %}fw-bold{% endif %}">
                            <i class="far fa-circle"></i>
                            {{ game.white.player.nick }}
                        </span>
                    </div>
                    <div class="col-1 order-md-last">
                        <a href="{{ game.get_absolute_url }}">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="w-100 order-1 d-md-none"></div>
                    <div class="col d-md-none order-3 p-1"></div>
                    <div class="col order-3 text-truncate">
                        <span class="text-muted small">
                            {{ game | result }}
                        </span>
                    </div>
                </div>
            {% empty %}
                <div>{% translate "Żadna gra w tym sezonie nie została jeszcze rozegrana" %}</div>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-center">
                {% include "includes/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}