{% extends "base.html" %}

{% load static %}

{% block page_title %}Grupa {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "seasons-list" %}">Sezony</a></li>
                    <li class="breadcrumb-item"><a
                            href="{% url "season-detail" object.season.number %}">Sezon #{{ object.season.number }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Grupa {{ object.name }}</li>
                </ol>
            </nav>
            <div class="d-flex align-items-center mb-3">
                <h2>Grupa {{ object.name }}</h2>
                {% if group.is_egd %}<span class="badge bg-info ms-2">EGD</span>{% endif %}
                <span class="badge bg-secondary ms-2">{{ group.get_type_display | upper }}</span>
            </div>
            {% if object.season.state != "draft" %}
                <div class="d-flex justify-content-center">
                    <table class="group-table mb-4">
                        {% if object.type == "round_robin" %}
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for member in object.members.all %}
                                        <th class="group-table__header d-none d-lg-table-cell"><a
                                                href="{% url "player-detail" member.player.nick %}">{{ member.player.nick }}</a>
                                        </th>
                                    {% endfor %}
                                    <th class="group-table__header">Punkty</th>
                                    <th class="group-table__header">SODOS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member, results in object.results_as_table %}
                                    <tr class="group-table__row--result-{{ member.result.value.lower }}">
                                        <td class="group-table__header">
                                            <strong>
                                                <a href="{% url "player-detail" member.player.nick %}">{{ member.player.nick }}</a>
                                            </strong>
                                            <span class="text-muted">[{{ member.rank }}]</span>
                                        </td>
                                        {% for other_member, result in results %}
                                            <td class="group-table__result d-none d-lg-table-cell {% if member ==  other_member %}group-table__result--empty{% elif result.value == "W" %}group-table__result--win{% elif result.value == "L" %}group-table__result--lose{% endif %}">
                                                {% if member ==  other_member %}
                                                    X
                                                {% elif result is not None %}
                                                    {{ result.value }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td>{{ member.points }}</td>
                                        <td>{{ member.sodos }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <thead>
                                <tr>
                                    <th class="group-table__header">Pozycja</th>
                                    <th class="group-table__header">Gracz</th>
                                    <th class="group-table__header">Punkty</th>
                                    <th class="group-table__header">Score</th>
                                    <th class="group-table__header">SOS</th>
                                    <th class="group-table__header">SOSOS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in object.members_qualification %}
                                    <tr class="group-table__row--result-{{ member.result.value.lower }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url "player-detail" member.player.nick %}">{{ member.player.nick }}</a>
                                            <span class="text-muted">[{{ member.rank }}]</span>
                                        </td>
                                        <td>{{ member.points }}</td>
                                        <td>{{ member.score }}</td>
                                        <td>{{ member.sos }}</td>
                                        <td>{{ member.sosos }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                <div class="d-flex justify-content-between">
                    <h3 class="mb-4">Gry</h3>
                    {% if user|has_role:'referee' %}
                        <div>
                            {% if group.season.state == "in_progress" and group.type == "mcmahon" and group.all_games_finished %}
                            <form method="post" class="d-flex">{% csrf_token %}
                                <button type="submit" class="btn btn-primary" name="action-pairing">
                                    <i class="fa fa-table"></i> Nowa runda
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% for round in object.rounds.all %}
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center clickable"
                             onClick="toggle_collapse(event)" data-target="round-{{ forloop.counter }}">
                            <strong>Runda #{{ round.number }}</strong>
                            <div>
                                {% if round.start_date and round.end_date %}{{ round.start_date }} -
                                    {{ round.end_date }}{% endif %}
                                <button class="btn" onClick="toggle_collapse(event)" data-target="round-{{ forloop.counter }}">
                                    <i id="collapse-round-{{ forloop.counter }}" style="pointer-events: none;" class="fas
                                       {% if round.is_current %} fa-chevron-up {% else %} fa-chevron-down {% endif %}"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body collapse {% if round.is_current %}show{% endif %}"
                             id="round-{{ forloop.counter }}">
                            {% for game in round.games.all %}
                                <div class="card mb-3">
                                    <div class="card-header d-flex justify-content-between">
                                    <span>
                                        {% if game.is_bye %}
                                            BYE:
                                            {% include "league/includes/player_badge.html" with member=game.winner %}
                                        {% else %}
                                            {% include "league/includes/game_players.html" with game=game %}
                                        {% endif %}
                                    </span>
                                        {% if game.date %}<span>{{ game.date }}</span>{% endif %}
                                    </div>
                                    <div class="card-body d-flex justify-content-between align-items-baseline flex-wrap">
                                        <p>{% if game.is_played %}{{ game.result }}{% else %}Gra jeszcze się
                                            nie odbyła.{% endif %}</p>
                                        <div>
                                            {% include "league/includes/game_actions.html" with show_link=True %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% elif object.season.state == "draft" %}
                <div class="d-flex justify-content-between mb-3">
                    <h3>Gracze</h3>
                    {% if user.is_admin %}
                        <form method="post" class="d-flex">{% csrf_token %}
                            <input type="text" class="form-control me-2" placeholder="Nick" name="player_nick">
                            <button type="submit" class="btn btn-primary" name="action-add">Dodaj</button>
                        </form>
                    {% endif %}
                </div>
                {% for member in object.members.all %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <small class="text-muted">#{{ member.order }}</small>
                            <strong><a href="{{ member.player.get_absolute_url }}">{{ member.player.nick }}</a></strong>
                            <span class="text-muted">[{{ member.rank }}]</span>
                            {% if group.type == "mcmahon" %}<span class="text-muted">Punkty początkowe: {{ member.initial_score }}</span>{% endif %}
                        </div>
                        {% if user.is_admin %}
                            <div class="card-body">
                                <form method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ member.id }}" name="member_id">
                                    <button type="submit" class="btn btn-primary" name="action-up"
                                            {% if forloop.first %}disabled{% endif %}>▲
                                    </button>
                                    <button type="submit" class="btn btn-primary" name="action-down"
                                            {% if forloop.last %}disabled{% endif %}>▼
                                    </button>
                                    <button type="submit" class="btn btn-danger" name="action-delete">Usuń</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script>
        function toggle_collapse(event) {
            event.stopPropagation();
            element_id = event.target.getAttribute("data-target");
            document.getElementById(element_id).classList.toggle("show");
            icon_id = "collapse-"+element_id;
            document.getElementById(icon_id).classList.toggle("fa-chevron-down");
            document.getElementById(icon_id).classList.toggle("fa-chevron-up");
        }
    </script>
{% endblock %}
