{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "seasons-list" %}">Sezony</a></li>
                    <li class="breadcrumb-item"><a href="{% url "season-detail" object.season.id %}">Sezon {{ object.season.start_date }} - {{ object.season.end_date }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Grupa {{ object.name }}</li>
                </ol>
            </nav>
            <h2>Grupa {{ object.name }}</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for player in object.players.all %}
                            <th style="min-width: 80px; text-align: center;">{{ player.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for player, results in object.results_as_table %}
                        <tr>
                            <td><strong>{{ player.name }}</strong></td>
                            {% for result in results %}
                                <td style="text-align: center">
                                    {% if result is None %}
                                        -
                                    {% else %}
                                        {{ result }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
