{% extends "base.html" %}

{% load static %}

{% block page_title %}{{ object.nick }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            <h2>Ustawienia</h2>
            <p>Tutaj możesz zmienić informacje o sobie.</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nick" class="form-label">Nick</label>
                    <input type="text" class="form-control {% if form.nick.errors %} is-invalid{% endif %}" id="nick"
                           name="nick" {% if form.nick.value %}value="{{ form.nick.value }}"{% endif %}
                           placeholder="{{ nick }}">
                    <div class="invalid-feedback">{{ form.nick.errors }}</div>
                    <small class="form-text text-muted">Pod tą nazwą będziesz widoczny dla innych graczy.</small>
                </div>
                <div class="mb-3">
                    <label for="rank" class="form-label">Ranking</label>
                    <input type="text" class="form-control {% if form.rank.errors %} is-invalid{% endif %}" id="rank"
                           name="rank" {% if form.rank.value %}value="{{ form.rank.value }}"{% endif %}
                           placeholder="{{ rank }}">
                    <div class="invalid-feedback">{{ form.rank.errors }}</div>
                    <small class="form-text text-muted">Twoja aktualna siła - np. 10k lub 2d.</small>
                </div>
                <div class="mb-3">
                    <label for="nick_ogs" class="form-label">Nick OGS</label>
                    <input type="text" class="form-control {% if form.nick_ogs.errors %} is-invalid{% endif %}"
                           id="nick_ogs" name="nick_ogs" placeholder="{{ nick_ogs }}"
                           {% if form.nick_ogs.value %}value="{{ form.nick_ogs.value }}"{% endif %}>
                    <div class="invalid-feedback">{{ form.nick_ogs.errors }}</div>
                    <small class="form-text text-muted">Nazwa Twojego konta w serwisie OGS.</small>
                </div>
                <div class="mb-3">
                    <label for="nick_kgs" class="form-label">Nick KGS</label>
                    <input type="text" class="form-control {% if form.nick_kgs.errors %} is-invalid{% endif %}"
                           id="nick_kgs" name="nick_kgs" placeholder="{{ nick_kgs }}"
                           {% if form.nick_kgs.value %}value="{{ form.nick_kgs.value }}"{% endif %}>
                    <div class="invalid-feedback">{{ form.nick_kgs.errors }}</div>
                    <small class="form-text text-muted">Nazwa Twojego konta w serwisie KGS.</small>
                </div>
                <button type="submit" class="btn btn-primary" id="save-btn" disabled>Zapisz</button>
            </form>
        </div>
    </div>
    <script>
        window.onload = function() {
            var nick_field = document.getElementById("nick");
            var rank_field = document.getElementById("rank");
            var nick_ogs_field = document.getElementById("nick_ogs");
            var nick_kgs_field = document.getElementById("nick_kgs");
            var fields = new Array(nick_field, rank_field, nick_ogs_field, nick_kgs_field);
            var saveBtn = document.getElementById("save-btn");

            function isEmptyOrSpaces(str){
                return str === null || str.match(/^ *$/) !== null;
            }

            function enableSaveBtnIfFormChanged(){
                var formIsChanged = fields.find(field => !isEmptyOrSpaces(field.value)) != undefined;
                if (formIsChanged) {
                    saveBtn.disabled = false;
                } else {
                    saveBtn.disabled = true;
                }
            }

            for (var field of fields){
                field.addEventListener("input", enableSaveBtnIfFormChanged);
            }
        }
    </script>
{% endblock %}
