{% extends "base.html" %}

{% load static crispy_forms_filters %}

{% block page_title %}{{ object.nick }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            <h2>Ustawienia</h2>
            <p>Tutaj możesz zmienić informacje o sobie.</p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
{% endblock %}
