{% extends "base.html" %}

{% block page_title %}Sezon #{{ object.number }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "seasons-list" %}">Sezony</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Sezon #{{ object.number }}
                    </li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h2>Sezon #{{ object.number }}</h2>
                    <span class="badge season-state--{{ season.state }} ms-2">{{ season.get_state_display | upper }}</span>
                </div>
                <div>
                    {% if user|has_role:'referee' %}
                        <a href="{% url "season-export" number=season.number %}" class="btn btn-primary">
                            <i class="fa fa-file-export"></i> <span class="d-none d-md-inline">Eksport CSV</span>
                        </a>
                        <form method="post" class="d-inline">{% csrf_token %}
                            {% if season.state == "draft" %}
                                <button type="submit" class="btn btn-warning" name="action-start-season">
                                    <i class="fas fa-play"></i> <span class="d-none d-md-inline">Wystartuj Sezon</span>
                                </button>
                                <button type="submit" class="btn btn-warning" name="action-reset-groups">
                                    <i class="fas fa-undo"></i> <span class="d-none d-md-inline">Resetuj Grupy</span>
                                </button>
                            {% elif season.state == "in_progress" %}
                                <button type="submit" class="btn btn-danger" name="action-finish-season">
                                    <i class="fa fa-flag-checkered"></i> <span class="d-none d-md-inline">Zakończ Sezon</span>
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
            <h5 class="text-muted mb-4">
                {{ season.start_date }} - {{ season.end_date }}
            </h5>
            {% for group in object.groups.all %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Grupa {{ group.name }}</strong>
                        <span class="badge bg-secondary">{{ group.get_type_display | upper }}</span>
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-none d-md-block">
                                <h5>Gracze ({{ group.members.count }})</h5>
                                <p>
                                    {% for member in group.members.all %}
                                        <a href="{% url "player-detail" member.player.nick %}">{{ member.player.nick }}</a>
                                        <span class="text-muted">[{{ member.rank }}]</span>{% if not forloop.last %},
                                    {% endif %}{% endfor %}
                                </p>
                            </div>
                            <p>
                                Średni ranking: {{ group.avg_rank }}
                            </p>
                        </div>
                        <div>
                            <a href="{% url "group-detail" season_number=group.season.number group_name=group.name %}"
                               class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
