{% extends "base.html" %}

{% block page_title %}Sezon #{{ object.number }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "seasons-list" %}">Sezony</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Sezon #{{ object.number }}
                    </li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h2>Sezon #{{ object.number }}</h2>
                    {% if season.state == "DRAFT" %}
                        <span class="badge bg-warning text-dark ms-2">W PRZYGOTOWANIU</span>
                    {% endif %}
                </div>
                {% if user.is_admin and season.state == "DRAFT" %}
                    <form method="post" class="d-inline">{% csrf_token %}
                        <button type="submit" class="btn btn-success" name="action-add-group">Dodaj Grupę</button>
                        <button type="submit" class="btn btn-warning" name="action-start-season">Wystartuj Sezon</button>
                    </form>
                {% endif %}
            </div>
            <h5 class="text-muted mb-4">
                {{ season.start_date }} - {{ season.end_date }}
            </h5>
            {% for group in object.groups.all %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <strong>Grupa {{ group.name }}</strong>
                         <span class="badge bg-secondary">{{ group.get_type_display | upper }}</span>
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-baseline">
                        <p>Gracze:
                            {% for member in group.members.all %}{{ member.player.nick }}{% if not forloop.last %},
                            {% endif %}{% endfor %}</p>
                        <div>
                            {% if user.is_admin and season.state == "DRAFT" %}
                                <form method="post" class="d-inline">{% csrf_token %}
                                    <input type="hidden" value="{{ group.id }}" name="group_id">
                                    <button type="submit" class="btn btn-danger" name="action-delete-group">Usuń</button>
                                </form>
                            {% endif %}
                            <a href="{% url "group-detail" season_number=group.season.number group_name=group.name %}"
                               class="btn btn-primary">Zobacz</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
