{% extends "base.html" %}

{% block page_title %}Sezony{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Sezony</li>
                </ol>
            </nav>
            <div class="d-flex align-items-baseline justify-content-between">
                <h2 class="mb-4">Sezony</h2>
                {% if user.is_admin %}
                <a href="{% url "seasons-prepare" %}" class="btn btn-warning{% if not can_prepare_season %} disabled{% endif %}">Stwórz Sezon</a>
                {% endif %}
            </div>
            {% for season in object_list %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <strong>
                            Sezon #{{ season.number }}
                            <span class="badge season-state--{{ season.state }} ms-2">{{ season.get_state_display | upper }}</span>
                        </strong>
                        <span class="text-muted">{{ season.start_date }} - {{ season.end_date }}</span>
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-baseline">
                        <p class="card-text">Liczba grup: {{ season.groups.count }}</p>
                        <a href="{% url "season-detail" number=season.number %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
                    </div>
                    <a href="{% url "season-detail" season.id %}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
