{% extends "base.html" %}

{% block page_title %}Nauczyciele w sezonie {{ season_number }}
{% endblock %}
{% block content %}
    <div class="row">
        <h1>Komentarze</h1>
    </div>
    {% if group_list %}
        <div class="row">
            <div class="col">
                {% if season_is_finished %}
                    <p>W seazonie {{ season_number }} gry komentowali:</p>
                {% else %}
                    <p>W aktualnym sezonie gry komentują:</p>
                {% endif %}
                <table class="table table-bordered w-auto" style="word">
                    <thead>
                        <tr>
                            <th>Grupa</th>
                            <th>Nauczyciel</th>
                            {% if not season_is_finished %}
                                <th>Omówienia</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in group_list %}
                            <tr>
                                <td>{{ group.name }}</td>
                                <td>{{ group.teacher.name }} {{ group.teacher.last_name }}, {{ group.teacher.rank }}</td>
                                {% if not season_is_finished %}
                                    <td>{{ group.teacher.review_info }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <p>Niestety nie mamy jeszcze listy nauczycieli dla tego sezonu.</p>
        </div>
    {% endif %}
{% endblock %}
