{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% translate "Nadchodzące gry" %}{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-baseline justify-content-between mb-3">
        <h2>{% translate "Nadchodzące gry" %}</h2>
        <form class="d-flex" method="get">
            <div class="input-group">
                <input type="text" name="groups" class="form-control" placeholder="{% translate "Grupy" %}" value="{{ groups }}">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    {% for game in game_list %}
        <div class="row mb-3">
            <div class="col-1 order-3 order-md-first text-muted">
                {{ game.group.name }}
            </div>
            <div class="col text-truncate">
                <i class="fas fa-circle"></i>
                {{ game.black.player.nick }}
            </div>
            <div class="col text-truncate">
                <i class="far fa-circle"></i>
                {{ game.white.player.nick }}
            </div>
            <div class="col-1 order-md-last">
                <a href="{{ game.get_absolute_url }}">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <div class="w-100 d-md-none order-2"></div>
            <div class="col order-3 order-md-1">
                <span class="text-muted small">
                    {{ game.date }}
                </span>
            </div>
        </div>
    {% empty %}
        <div>{% translate "W najbliższym czasie nie ma zaplanowanych gier" %}</div>
    {% endfor %}
    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-center">
                {% include "includes/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}